@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mt-2" aria-labelledby="aspnetTitle">
        <h1 id="title">Azienda Muratori S.P.A</h1>
        <p class="lead">
            Muratori Professionisti offre servizi completi di costruzione e ristrutturazione per progetti residenziali e commerciali,
            garantendo qualità, professionalità e puntualità.
        </p>
        <div class="d-flex justify-content-start gap-5">
            <div class="d-flex justify-content-center gap-3 flex-column mx-5">
                <a href="~/Employee">

                    <button class="btn btn-info shadow p-2">I nostri dipendenti</button>
                </a>
                <a href="~/Employee/create">
                    <button class="btn btn-outline-danger shadow p-2" onclick="">Firma il contratto e lavora con noi!</button>
                </a>
            </div>
            <img src="https://www.immobiliare.it/news/app/uploads/2022/09/Cantiere.jpeg"
                 alt="Immagine cantiere"
                 class="shadow"
                 style="max-height:300px;object-fit:contain" />
        </div>
    </section>
</main>